@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  background-color:white;
}
.image_of_world{
  align-items: center;
}

.Social_media{
  align-items: center;
  
}
/* .Header_bottom{
  padding-top: initial;
} */